<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio: My Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="./image/logo.png">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="header">
        <a href="#" class="logo"><span>Pankaj&nbsp;</span>Bharti</a>
        <div class="nav">
            <a href="#" class="active">Portfolio</a>&nbsp;&nbsp;
            <a href="#education">Education</a>&nbsp;&nbsp;
            <a href="#experience">Experience</a>&nbsp;&nbsp;
            <a href="#skills">Skills</a>&nbsp;&nbsp;
            <a href="#projects">Project</a>&nbsp;&nbsp;
            <a href="#test">Test</a>&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/pankaj-ram-642176219/" target="_blank">LinkedIn</a>&nbsp;&nbsp;
            <a href="/image/Resume.pdf" style="color: aqua;" class="cv" target="_blank">Download CV</a>
        </div>
        <a href="#contact-container" class="contact">Contact Me</a>
    </div>
    <div class="home">
        <div class="home-content">
            <div class="home-content">
                <h3>Hi ! </h3>
                <h1>I'm <span>Pankaj Bharti <br></span> <span class="auto-type"> </span></h1>
             </div>
            <p class="aboutus">I'm a passionate Full Stack Developer with a knack for creating seamless and innovative web applications. With a strong foundation in both front-end and back-end technologies.</p>
            <p class="aboutus">Feel free to explore my portfolio to see my projects and the skills I've developed. I'm always eager to take on new challenges and collaborate on exciting projects. Let’s connect and create something amazing together!</p>

            <div class="btn-box">
                <button class="btn-1"><a href="https://github.com/PANKAJJI2000" target="_blank">Github</a></button>
                <button class="btn-2" > <a href="#education">See More</a></button>
            </div>
        </div>
        <div class="img-box">
            <img src="/image/pkb.png">
        </div>
    </div>

<!-- Education Details -->
<section id="education">
    <h2>Education</h2>
    <div class="education-item">
        <h3>Bachelor of Science in Computer Science</h3>
        <p>University of Example, City, State</p>
        <p>Graduated: May 2022</p>
        <p>Relevant Coursework: Data Structures, Algorithms, Web Development, Machine Learning</p>
    </div>
    
    <div class="education-item">
        <h3>Intermediate</h3>
        <p>Community College of Example, City, State</p>
        <p>Graduated: May 2020</p>
        <p>Relevant Coursework: Networking, Database Management, Cybersecurity</p>
    </div>

    <div class="education-item">
        <h3>Highschool</h3>
        <p>Community College of Example, City, State</p>
        <p>Graduated: May 2020</p>
        <p>Relevant Coursework: Networking, Database Management, Cybersecurity</p>
    </div>
</section>

<hr style="color: aqua; padding: 2px; background-color: aqua; margin-top: 40px;">

<!--  Experience  -->
<section id="experience">
    <h2>Experience</h2>
    <div class="experience-item">
        <h3>Currently I have no Experience</h3>
        <p>Company Name</p>
        <p>Dated: May 2025</p>
        <p>Web Development, ....................................</p>
    </div>
</section>

<hr style="color: aqua; padding: 2px; background-color: aqua; margin-top: 40px;">
<!-- Skill details -->

<section id="skills">
    <h2>Skills</h2>
    <div class="skills-item">
        <p>Frontend: React, HTML5, CSS3, JavaScript, Bootstrap</p>
    </div>
    <div class="skills-item">
        <p>Backend: Node.js, Express.js, RESTful API, (JSON Web Tokens), Authentication & Authorization</p>
    </div>
    <div class="skills-item">
        <p>Database: MongoDB, Mongoose</p>
    </div>
    <div class="skills-item">
        <p>Version Control: Git, GitHub.</p>
    </div>
</section>
<hr style="color: aqua; padding: 2px; background-color: aqua; margin-top: 40px;">
<!-- Project section -->
<section id="projects">
    <h2>My Projects</h2>
    <div class="project-item">
        <h3>Airbnb Clone</h3>
        <p>Developed a full-stack Airbnb clone with features like property listings, user authentication and authorization with error handling.</p>
        <a href="#" class="project-link">View Project</a>
    </div>
    <div class="project-item">
        <h3>Music Player</h3>
        <p>Built a web-based music player with playlist management, audio controls (play, pause, skip), and search functionality.</p>
        <a href="#" class="project-link">View Project</a>
    </div>
</section>


    <!-- Contact form -->
<form action="/homepage/contactme" method="post">
    <h2 class="main-h1">Contact us </h2><br>
     <section id="#contact-main">
        <div id="contact-container">
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3 class="cont-center">Send us a message</h3>
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="contact[name]" id="" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="contact[email]" id="" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                            <textarea name="contact[message]" placeholder="Your message"></textarea>
                        </div>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
                <div class="contact-info">
                    <h2 class="cont-center">Contact Information</h2>
                    <p><i class="fas fa-phone">&nbsp;&nbsp;&nbsp;+91 9170453367</i></p>
                    <p><i class="fas fa-envelope">&nbsp;&nbsp;&nbsp;pankaj.bharti.1631@gmail.com</i></p>
                    <p><i class="fas fa-location">&nbsp;&nbsp;&nbsp;Bhaisamau, BKT, Lucknow, India, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;226201</i></p>
                    <div class="icon-img">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.facebook.com/pankaj.pankajbharti.98/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/pankaj_bharti_77" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="/"><i class="fa-brands fa-twitter" target="_blank"></i></a>
                        <a href="https://wa.me/qr/645IBPXYCBCAD1" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://www.linkedin.com/in/pankaj-ram-642176219/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<hr style="color: aqua; padding: 2px; background-color: aqua; margin-top: 40px;">
<footer>
    <div class="footerContainer">
        <div class="socialIcons">
                        <a href="https://www.facebook.com/pankaj.pankajbharti.98/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/pankaj_bharti_77" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="/"><i class="fa-brands fa-twitter" target="_blank"></i></a>
                        <a href="https://wa.me/qr/645IBPXYCBCAD1" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://www.linkedin.com/in/pankaj-ram-642176219/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="">Updates</a></li>
                <li><a href="#contact-main">Contact Us</a></li>
                <li><a href="">Help !</a></li>
            </ul>
        </div>
    </div>
    <div class="footerButtom">
        <p>Copyright &copy; 2024; Designed By <span class="designer">Pankaj Bharti</span></p>
    </div>
</footer>

<script>
    var typed = new Typed('.auto-type', {
        strings: ['Frontend Developer ', 'Backend Developer', 'Node.js | React.js '],
        typeSpeed: 130,
        backSpeed: 130,
        loop: true,
      });
</script>
</body>
</html>
